*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
    overflow: hidden;
    background-image: url(../img/fondo.jpg);
    animation: animacion 40s infinite;
}
@keyframes animacion{
    0%{
        background-position: 0% 0%;
    }
    50%{
        background-position: 100% 5%;
    }
    100%{
        background-position: 1% 50%;
    }
    /*from{
        background-position: 0% 0%;
    }
    to{
        background-position: 100% 50%;
    }*/
}
#btn{
    display:block;
    position: fixed;
    top: 49%;
    left: calc(50% - 75px);
    width: 150px;
    height: 50px;
    background-color: black;
    border: 1px solid #1d1d1d;
    text-decoration: none;
    color:white;
    text-align: center;
    line-height: 3;
    font-weight: bold;
    border-radius: 20px;
    transition: 1s ease-in all;
}
#btn:hover{
    background-color: white;
    border: 1px solid #ccc;
    color: black;
    border-radius: 0px;
    transform: scale(2);
}
#mercurio{
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    animation: animMer 30s infinite ease-out;
}
@keyframes animMer{
    from{
        top:0px;
        left: 0px;
        transform:rotate(0deg);
    }
    to{
        top:100%;
        left: 100%;
        transform:rotate(360deg);
    }
}
#venus{
    margin-top: 200px;
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    animation: animVen 25s infinite ease-out;
}
@keyframes animVen{
    from{
        top:0px;
        left: 0px;
        transform:rotate(0deg);
    }
    to{
        top:100%;
        left: 100%;
        transform:rotate(360deg);
    }
}